@import url(../basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  gap: 20px;
  /* grid-template-columns: repeat(2, 50px 100px); */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 80px repeat(4, 1fr) auto;
}
