@import url(../basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 20px;
  grid-template-areas:
    "h h h h"
    "m m . s" /*Порожня клітинка позначається крапкою*/
    "footer footer footer footer";
}

.header {
  grid-area: h;
}

.main {
  grid-area: m;
}

.sidebar {
  grid-area: s;
}

.footer {
  grid-area: footer;
}

/* if display < 700px */
@media (max-width: 700px) {
  .container {
    grid-template-areas:
      "h h h h"
      "s m m m"
      "s footer footer footer";
  }
}
